.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include desktop {
      
    }
  }
  &__logo {
    min-width: 10rem;
    flex: 0;
    @include desktop {
      width: 12rem;
    }
  }
  &__link {
    font-size: .8rem;
    font-family: Manrope, sans-serif;
    @include desktop {
      font-size: 1rem;
    }
  }
  &__nav-list {
    display: none;
    gap: 1rem;
    font-size: 1.2rem;
    @include desktop {
      display: flex;
    }
  }
}
