.services {
  &__list {
    font-family: Manrope;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include desktop {
      flex-direction: row;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    @include desktop {
      flex: 1 1 0;
    }
  }
  &__image {
    border-radius: 1rem;
    height: 200px;
    @include desktop {
      height: 100%;
    }
  }
}
